* {
  box-sizing: border-box;
}

/* brand color palette */
:root {
  --primary: rgb(81, 140, 216);
  --secondary: rgb(5, 1, 17);
  --tertiary: rgb(16, 131, 96);
  --dark: rgb(189, 193, 201);
  --light: rgb(163, 8, 73);
}

body {
  margin: 0;
  padding: 0;
  
  color: var(--primary);
  background-color: var(--light);
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 
{
  margin: 0;
}

p {
  margin: 5;
}

header {
  padding: 20px 16% 20px 0;
  display: flexbox
  flex-direction: list-item
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
  
  
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}


.hero-banner div {
  flex: 0 0 90%;
}

.hero-banner h2 {
  background-color: var(--secondary);
  color: var(--tertiary);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 4vw;
  line-height: 1.1;
}




.page-section > div {
  flex: 50 0 100%;
}

.page-section p {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 8px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 200px;
  max-height: 200px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-start;
  padding: 0 0 40px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

/* feature first portfolio item */
.flex-item.flex-item:first-child {
    min-height: 450px;
    flex-basis: 100%;
  
}






.flex-item div {
  background-color: var(--secondary);
  padding: 18px 25px;
}

.flex-item h3 {
  font-size: 2;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

/*image*/


.Modeste {
  background-image: url("../Image/I2.jpg");
  background-size: cover; 
  background-position: center;
  
}

.Paul {
  background-image: url("../Image/I1.jpg");
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  
}

.Ndatimana {
  background-image: url("../Image/I3.jpg");
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  
}


@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: left;
    text-align: left;
  }


  header h1 {
    width: 100%;
    padding: 50px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 40px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 10vw;
  }
  
}

@media screen and (max-width: 900px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 150%;
    
  }

  

  .flex-item:first-child {
    min-height: 150px;
  }

 

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
